<p>stats works!</p>
<button routerLink="userProfile"
        class="style" Button>Profile</button>
<button routerLink="home"
        class="style" Button>Backyard D&D</button>
<button routerLink="narrative"
        class="style" Button>Narrative</button>
<button routerLink="notes"
        class="style" Button>Notes</button>
<button routerLink="npc"
        class="style" Button>NPC</button>
<button routerLink="items"
        class="style" Button>Items</button>
<button routerLink="monsterIndex"
        class="style" Button>MonsterIndex</button>
<button routerLink="stats"
        class="style" Button>Stats</button>
<button routerLink="spells"
        class="style" Button>Spells</button>
